* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
body {
  font-family: sans-serif;
  background: #f9f9f9;
  color: #333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
button {
  border: none;
  font-size: inherit;
}
button img {
  display: block;
}
input {
  font-size: inherit;
}
.tile-container {
  margin-right: -40px;
}
.tile {
  font-size: 14px;
  width: 290px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
}
.tile:hover .btn {
  opacity: 1;
}
.tile.sortable-ghost {
  opacity: 0.5;
}
.tile.pinned .tile-thumbnail {
  border: 1px solid #999;
}
.tile .tile-thumbnail {
  width: 100%;
  height: 180px;
  border-radius: 8px;
  background: white;
  box-shadow: 0px 1px 3px #c1c1c1;
}
.tile .tile-title {
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #555;
  font-family: Lucida Grande, sans-serif;
  padding-top: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.tile .btn {
  background: white;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid #E6EAFF;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}
.tile .close-btn {
  top: 5px;
  right: 5px;
}
.tile .pin-btn {
  top: 5px;
  left: 5px;
}
.tile .pin-btn img {
  width: 12px;
}
.tile .pinned-icon {
  width: 12px;
  position: absolute;
  bottom: 5px;
  left: 0;
}
.search {
  margin-bottom: 20px;
}
.search .search-input-wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 600px;
  height: 36px;
}
.search .search-input {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 1px solid;
  border-color: rgba(23, 51, 78, 0.15) rgba(23, 51, 78, 0.17) rgba(23, 51, 78, 0.2);
  border-right: none;
  padding: 0 10px;
  height: 100%;
  margin: 0;
  border-radius: 3px 0 0 3px;
}
.search .search-submit {
  font-size: 14px;
  height: 100%;
  background: transparent -webkit-linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1)) repeat scroll 0% 0% padding-box;
  background: transparent linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1)) repeat scroll 0% 0% padding-box;
  border: 1px solid;
  border-color: rgba(23, 51, 78, 0.15) rgba(23, 51, 78, 0.17) rgba(23, 51, 78, 0.2);
  padding: 0 15px;
  border-radius: 0 3px 3px 0;
}
.search .search-settings {
  background: none;
  border: none;
  margin-right: 3px;
}
.search .search-settings img {
  display: block;
  width: 26px;
}
.container {
  width: 330px;
  padding: 20px;
}
.container .tile {
  display: none;
}
.container .tile:first-child {
  display: block;
}
@media (min-height: 456px) {
  .container .tile:nth-child(2) {
    display: block;
  }
}
@media (min-height: 816px) {
  .container .tile:nth-child(3) {
    display: block;
  }
}
@media (min-width: 640px) {
  .container {
    width: 640px;
  }
  .container .tile:nth-child(2) {
    display: block;
  }
}
@media (min-width: 640px) and (min-height: 456px) {
  .container .tile:nth-child(3),
  .container .tile:nth-child(4) {
    display: block;
  }
}
@media (min-width: 640px) and (min-height: 816px) {
  .container .tile:nth-child(5),
  .container .tile:nth-child(6) {
    display: block;
  }
}
@media (min-width: 950px) {
  .container {
    width: 950px;
  }
  .container .tile:nth-child(3) {
    display: block;
  }
}
@media (min-width: 950px) and (min-height: 456px) {
  .container .tile:nth-child(4),
  .container .tile:nth-child(5),
  .container .tile:nth-child(6) {
    display: block;
  }
}
@media (min-width: 950px) and (min-height: 816px) {
  .container .tile:nth-child(7),
  .container .tile:nth-child(8),
  .container .tile:nth-child(9) {
    display: block;
  }
}
@media (min-width: 1260px) {
  .container {
    width: 1260px;
  }
  .container .tile:nth-child(4) {
    display: block;
  }
}
@media (min-width: 1260px) and (min-height: 456px) {
  .container .tile:nth-child(5),
  .container .tile:nth-child(6),
  .container .tile:nth-child(7),
  .container .tile:nth-child(8) {
    display: block;
  }
}
@media (min-width: 1260px) and (min-height: 816px) {
  .container .tile:nth-child(9),
  .container .tile:nth-child(10),
  .container .tile:nth-child(11),
  .container .tile:nth-child(12) {
    display: block;
  }
}
/*# sourceMappingURL=index.css.map */